.black-background {  
   position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  /* visibility: hidden; */
}

.black-background[visibility='true'] {
  visibility: visible;
}

.black-background[visibility='false'] {
  visibility: hidden;
}