.list-dininho {
  display: block;
}

.list-dininho .item {
  margin-bottom: var(--gap-very-small);
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #3D1132;
}

strong {
  font-weight: bold;
}

@media (min-width: 600px) {
  .list-dininho .item {
    font-size: 24px;
    line-height: 33px;
    text-align: center;    
  }

  .list-dininho,dl {
    display: grid;
    justify-content: center;
    width: 100%;
  }

  .list-dininho .item.-resources {
    text-align: start;
  }
  
}